
.profileWrapper{
    background-color: darkgoldenrod;
    grid-area: c;
    /* Это относится к display: grid; в App.css */
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}