.myPosts{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.myPosts h3{
    font-size: 24px;
    margin-bottom: 20px;
}


.newPost textarea{
    width: 600px;
    resize: vertical;
    outline: none;
    background: rgb(193, 193, 193);
    padding: 10px 0 0 15px ;
}
