

ul{
    display: flex;
    align-items: center;
    margin: 50px 0 0 50px;
}


ul img{
    width: 80px ;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.dialog{
    font-size: 21px;
    color: grey;
    margin-left: 25px;
}

