.header{
    background-color: rgb(13, 180, 102);
    grid-area: h; 
    /* Это относится к display: grid; в App.css */
    display: flex;
    align-items: center;
}

.header img{
    max-width: 40px;
    margin-left: 20px;
}

.container{
    width: 1200px;
    
}

