.preloaderWrap{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    right: 0;
    text-align: center;

    
}

.preloaderWrap img{
    margin-top: 200px ;
    user-select: none; /* отменяет выделение картинки мышкой */
}