
.profileInfo{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profileImage{
    display: flex;
    flex-direction: column;
}


.profileImage img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-bottom: 15px;
}

.profileInfo_content{
    margin-left: 25px;
}

.name{
    font-size: 26px;
}

.status{
    font-weight: 500;
    color: grey;
    margin: 5px 0 18px 0;
    font-size: 15px;
    padding: 3px 0 3px 7px;
    outline: none;
    border-radius: 5px;
}

.status:focus{
    border: 2px solid grey;
}