.appWrapper{
  display: grid;

  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas: 
  'h h'
  'n c'
  ;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}

.appWrapper_content{
  
  grid-area: c;
  /* Это относится к display: grid; в App.css; Остальные в своих компонентах */

}

/* .nav{
  grid-area: n;
  background-color: coral;
} */

/* .profileWrapper{
  grid-area: c;
}  */