
.dialogs{
    display: grid;
    grid-template-columns: 3fr 9fr ;
    column-gap: 60px;
}

.dialogs h2{
    font-size: 28px;
    margin-left: 10px;
}

.messages{
    border-left: 2px rgb(182, 114, 182) solid;
    padding-left: 60px;
    margin-top: 64px;
}
