
.dialogs{
    display: grid;
    grid-template-columns: 3fr 9fr ;
    column-gap: 60px;
    margin-bottom: 50px;
}

.dialogs h2{
    font-size: 28px;
    margin-left: 10px;
}

.dialogsItem{
    border-right: 2px rgb(182, 114, 182) solid;
    padding-bottom: 50px;
}

.messages{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.messagesWrap{
    display: flex;
    flex-direction: column;

}

.newMessage textarea{
    width: 600px;
    resize: vertical;
    outline: none;
    background: rgb(193, 193, 193);
    padding: 10px 0 0 15px ;
    margin-top: 40px;
}

.controlls{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.btn{
    background-color: rgb(13, 180, 102);;
    padding: 5px 20px;
    color: #fff;
    transition: opacity 0.2s ease-in-out;
}

.btn:hover{
    opacity: 0.7;
}

.btn:active{
    color: #000;
}